@font-face {
  font-family: 'iconfont';  /* project id 1731973 */
  src: url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.eot');
  src: url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.woff') format('woff'),
  url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1731973_5bf3ylx5rln.svg#iconfont') format('svg');
}

